*__pycache__/
*~
*.mexa64
*.pyc
*.so
*.egg*
.Rproj.user
*.Rhistory
*.Rbuildignore
*.o
*.Rcheck
*.gz
*.tgz
*cache*
*.html
*.aux
*.blg
*.bcf
*.bbl
*.log
*.out
*.pdf
*.xml
*.pxd
*auto/
R/SNPknock/vignettes/SNPknock_files/
R/SNPknock/src/RcppExports.cpp
Python/build/
Python/dist/
Python/docs/build/
Python/SNPknock/knockoffs.cpp
